<!-- Section Menu Start -->
<!-- Header Start -->
<nav class="navbar navbar-expand-lg navigation fixed-top" id="navbar">
	<div class="container-fluid">
		<a class="navbar-brand" href="/">
			<h2 class="text-white text-capitalize"></i>EFit<span class="text-color">Kal</span></h2>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsid"
			aria-controls="navbarsid" aria-expanded="false" aria-label="Toggle navigation">
			<span class="ti-view-list"></span>
		</button>
		<div class="collapse text-center navbar-collapse" id="navbarsid">
			<ul class="navbar-nav mx-auto">
				<li class="nav-item active">
					<a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				<li class="nav-item"><a class="nav-link" href="/services">Services</a></li>
				<% if(!userIN) { %>
				<li class="nav-item"><a class="nav-link" href="/pricing">Memebership</a></li>
				<% } else { %>
				<li class="nav-item"><a class="nav-link" href="/users/dashboard">Dashboard</a></li>
				<% } %>
                <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
				<li class="nav-item"><a class="nav-link" href="/contact">Contact</a></li>
				<% if(userIN) { %> 
				<li class="nav-item"><a class="nav-link" href="/users/logout">Logout (<%= user.name %>)</a></li>
				<% } else { %>
                <li class="nav-item"><a class="nav-link" href="/users/login">Login</a></li>
				<!-- <li class="nav-item"><a class="nav-link" href="/users/register">Register</a></li> -->
				<% } %>
			</ul>
			<div class="my-md-0 ml-lg-4 mt-4 mt-lg-0 ml-auto text-lg-right mb-3 mb-lg-0">
				<a href="tel:+23-345-67890">
					<h3 class="text-color mb-0"><i class="ti-mobile mr-2"></i>+90 212 000 00 00</h3>
				</a>
			</div>
		</div>
	</div>
</nav>


<!-- Header Close -->

<div class="main-wrapper ">
<!-- Section Menu End -->